html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5em;
    text-align: center;
}

#app {
	max-width: 800px;
	background-color: #80DEEA;
	border-radius: 10%;
	padding: 0.5em;
}
.main-app {
    max-width: 740px; /*Changed from 1000px*/
    margin: 0 auto;
    background-color: #00bcd4; 
    padding: 0.5em;
    border-radius: 10%;
}

h1 {
	font-family: 'Mrs Sheppards', cursive;
	font-size: 3em;
}

input {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 5px #0097A7;
  transition: border 0.3s;
}
input:focus {
  outline: none;
  border: solid 5px #18FFFF;
}

button {
	padding: 0.5em 2em;
    color: #FFAB00;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 1rem;
    border: .2rem solid #FFAB00;
    -webkit-transition: color .3s,border .3s;
    transition: color .3s,border .3s;
}
button:hover{
	color: #fff;
    background-color: #FFAB00;
    border-color: #FFAB00;
}


#icon1 {
	margin-top: 0.75em;
	width: 128px;
	height: 128px;
}